* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(214, 219, 219);
}

hr {
    background-color: rgb(0, 0, 0);
    height: 5px;
    width: 100%;
    margin: auto;
}
.menu{
    display: flex;
    background-color: blueviolet;
}

.titulo {
    text-align: center;
    color: blueviolet;
}

.dados_pessoais{
    display: flex;
}

.imagens {
    width: 30%;
    margin: 5px;
    border-radius: 50px;
    display: flex;
}

.text {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

li {
    float: left;
}

li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


.backgound_orange{
    background-color: rgb(255, 207, 118);
}

.backgound_blue{
    background-color: rgb(130, 130, 255);
}

.backgound_red{
    background-color: rgb(255, 154, 154);
}

.backgound_green{
    background-color: rgb(127, 255, 127);
}